/* BOTÃO BASE */
.btn {
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease;
}

/* HOVER */
.btn:hover {
    transform: translateY(-1px);
    opacity: 0.9;
}

/* ACTIVE */
.btn:active {
    transform: scale(0.97);
}

/* CORES */

.btn-blue {
    background: #0d6efd;
}

.btn-indigo {
    background: #6610f2;
}

.btn-purple {
    background: #6f42c1;
}

.btn-pink {
    background: #d63384;
}

.btn-red {
    background: #dc3545;
}

.btn-orange {
    background: #fd7e14;
}

.btn-yellow {
    background: #ffc107;
    color: #000;
}

.btn-green {
    background: #198754;
}

.btn-teal {
    background: #20c997;
}

.btn-cyan {
    background: #0dcaf0;
    color: #000;
}

.btn-gray {
    background: #adb5bd;
    color: #000;
}

/* BOTÃO OUTLINE */

.btn-outline-blue {
    background: transparent;
    border: 2px solid #0d6efd;
    color: #0d6efd;
}

.btn-outline-blue:hover {
    background: #0d6efd;
    color: white;
}

.btn-outline-red {
    background: transparent;
    border: 2px solid #dc3545;
    color: #dc3545;
}

.btn-outline-red:hover {
    background: #dc3545;
    color: white;
}